ul.linklist {
    list-style-type: none;
}

li.linklist-item {
    display: inline-block;
    padding-right: 20px;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
}

.shop-label {
    background-color: #0064FF !important;
    color: white !important;
    padding: 3px 4px !important;
    font-size: xx-small !important;
}

.menu {
    text-transform: uppercase;
}

.clickable-row {
    cursor: pointer;
}

.clickable-row:hover {
    opacity: 0.7;
}

ul.socials > li > a {
    color: #c13030;
    text-transform: uppercase;
}

ul.socials > li > a > i {
    font-size: 40px;
    padding-top: 40px;
    display: block;
}

@media (max-width: 768px) {

    .small-logo{
        display: none !important;
    }

}