<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Brodinski</title>

        <link href="css/semantic.min.css" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Lato,Arimo" rel="stylesheet">

        <link href="css/style.css" rel="stylesheet">

    </head>

    <body style="background-color: #000; color: #fff;">

        <div class="ui text container" id="homepage">
            <div class="ui one column center aligned stackable grid">
                <div class="column three wide small-logo">
                    <img src="img/logo_brodi.png" width="60px" alt="brodinski logo" style="padding-top: 25px">
                </div>
                <div class="column ten wide">
                    <img src="img/logo_typo_brodi.png" width="100%" alt="brodinski logo" style="padding-top: 25px">
                </div>
                <div class="column three wide small-logo">
                    <img src="img/logo_brodi.png" width="60px" alt="brodinski logo" style="padding-top: 25px">
                </div>
            </div>

            <div class="ui one column center aligned stackable grid">
                <div class="column">
                    <ul class="linklist menu">

                        <li class="linklist-item">
                            <a @click="switchTab('music')">music</a>
                        </li>

                        <li class="linklist-item">
                            <a @click="switchTab('tour')">tour</a>
                        </li>

                        <li class="linklist-item">
                            <a @click="switchTab('social')">social</a>
                        </li>

                        <li class="linklist-item">
                            <a href="mailto:lucia@brodinski.fr">contact</a>
                        </li>

                        <li class="linklist-item">
                            <a href="http://shop.brodinski.fr">shop</a>
                        </li>

                        <li class="linklist-item">
                            <a href="http://brodinski.net" target="_blank">brava</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="ui two column center aligned stackable grid" style="padding-top: 30px" v-if="tab == 'music'">

                <div class="column">
                    <table class="ui celled padded unstackable table">
                        <tbody>
                            <tr class="clickable-row" data-href="https://play.spotify.com/artist/0ZurilbRp6KwW6dpaw4pEK" height="81px">
                                <td class="center aligned">
                                    <img src="img/spotify.png" width="100px">
                                </td>
                                <td class="center aligned">
                                    <a href="https://play.spotify.com/artist/0ZurilbRp6KwW6dpaw4pEK" target="_blank">Listen</a>
                                </td>
                            </tr>
                            <tr class="clickable-row" data-href="https://itunes.apple.com/fr/artist/brodinski/id270248904" height="81px">
                                <td class="center aligned">
                                    <img src="img/apple-music.png" width="100px">
                                </td>
                                <td class="center aligned">
                                    <a href="https://itunes.apple.com/fr/artist/brodinski/id270248904" target="_blank">Listen</a>
                                </td>
                            </tr>
                            <tr class="clickable-row" data-href="https://itunes.apple.com/fr/artist/brodinski/id270248904" height="81px">
                                <td class="center aligned">
                                    <img src="img/itunes.png" width="100px">
                                </td>
                                <td class="center aligned">
                                    <a href="https://itunes.apple.com/fr/artist/brodinski/id270248904" target="_blank">Buy</a>
                                </td>
                            </tr>
                            <tr class="clickable-row" data-href="https://www.youtube.com/user/BrodinskiOfficial" height="81px">
                                <td class="center aligned">
                                    <img src="img/youtube.png" width="70px">
                                </td>
                                <td class="center aligned">
                                    <a href="https://www.youtube.com/user/BrodinskiOfficial" target="_blank">Watch</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="column">
                    <table class="ui celled padded unstackable table">
                        <tbody>
                            <tr class="clickable-row" data-href="https://play.google.com/store/music/artist/Brodinski?id=Avztq5xaywuid54jkygr4hum7ja" height="81px">
                                <td class="center aligned">
                                    <img src="img/google-play.png" width="100px">
                                </td>
                                <td class="center aligned">
                                    <a href="https://play.google.com/store/music/artist/Brodinski?id=Avztq5xaywuid54jkygr4hum7ja" target="_blank">Buy</a>
                                </td>
                            </tr>
                            <tr class="clickable-row" data-href="https://listen.tidal.com/artist/3625348" height="81px">
                                <td class="center aligned">
                                    <img src="img/tidal.png" width="100px">
                                </td>
                                <td class="center aligned">
                                    <a href="https://listen.tidal.com/artist/3625348" target="_blank">Listen</a>
                                </td>
                            </tr>
                            <tr class="clickable-row" data-href="http://www.deezer.com/artist/166717" height="81px">
                                <td class="center aligned">
                                    <img src="img/deezer.png" width="100px">
                                </td>
                                <td class="center aligned">
                                    <a href="http://www.deezer.com/artist/166717" target="_blank">Listen</a>
                                </td>
                            </tr>
                            <tr class="clickable-row" data-href="https://soundcloud.com/brodinskiofficial" height="81px">
                                <td class="center aligned">
                                    <img src="img/soundcloud.png" width="60px">
                                </td>
                                <td class="center aligned">
                                    <a href="https://soundcloud.com/brodinskiofficial" target="_blank">Listen</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="ui one column center aligned stackable grid" style="padding-top: 30px" v-if="tab == 'social'">
                <div class="column">
                    <h2 class="center aligned header" style="text-transform: uppercase">FOLLOW US</h2>

                    <ul class="linklist socials">
                        <li class="linklist-item">
                            <a href="https://www.facebook.com/brodinski/"><i class="fa fa-facebook" aria-hidden="true"></i>facebook</a>
                        </li>

                        <li class="linklist-item">
                            <a href="https://www.instagram.com/louisbrodinski/"><i class="fa fa-instagram" aria-hidden="true"></i>instagram</a>
                        </li>

                        <li class="linklist-item">
                            <a href="https://twitter.com/brodinski"><i class="fa fa-twitter" aria-hidden="true"></i>twitter</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="ui one column center aligned stackable grid" style="padding-top: 30px" v-if="tab == 'tour'">
                <div class="column ten wide">
                    <h2 class="center aligned header" style="text-transform: uppercase">Upcoming tour dates</h2>
                    <div class="ui active centered inline loader" v-if="loading"></div>
                    <table class="ui very basic table" style="color: #fff" v-if="gigs && gigs.length>0">
                        <tbody>
                            <tr v-for="g in gigs" style="border-top: 1px solid #848484;">
                                <td style="border-top: 1px solid #848484;">
                                    <h4 class="ui header">
                                        <div class="content" style="color: #D40000;">
                                            {{ getPrintableDate(g.datetime) }}
                                            <div class="sub header" style="font-weight: bold; color: #fff">
                                                {{ g.venue.name }}
                                            </div>
                                        </div>
                                    </h4>
                                </td>
                                <td style="text-align: right; border-top: 1px solid #848484;">
                                    {{ g.venue.city }}, {{ g.venue.country }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h3 class="center aligned header" v-if="gigs && gigs.length==0" style="color: #AEAEAE">Sorry guyz, no upcoming tour dates yet</h3>
                    <h3 class="center aligned header" v-if="retrievingGigsError" style="color: #AEAEAE">Sorry guyz, an error occured while retrieving the upcoming gigs... maybe try again later!</h3>
                </div>
            </div>
        </div>

        <script src="js/moment.min.js"></script>
        <script src="js/vue.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="https://use.fontawesome.com/54f5b4ac28.js"></script>

        <script>
            (function(jQuery) {

                jQuery(document).ready(function($) {
                    $(".clickable-row").click(function() {
                        window.open($(this).data("href"));
                    });
                });

                var v = new Vue({
                    el: '#homepage',
                    data: {
                        loading: true,
                        gigsGigatoolsUrl: "https://rest.bandsintown.com/artists/brodinski/events?app_id=landing",
                        gigs: null,
                        retrievingGigsError: false,
                        tab: 'music'
                    },
                    methods: {
                        switchTab: function(value){
                          this.tab = value;
                        },
                        retrieveGigs: function () {
                            this.retrievingGigsError = false;

                            jQuery.getJSON(this.gigsGigatoolsUrl, function (data) {
                                this.loading = false;
                                this.gigs = data;
                            }.bind(this), function(){
                                this.loading = false;
                                this.retrievingGigsError = true;
                            }.bind(this));

                        },
                        getPrintableDate: function(string){
                            return moment(string).format('LL');
                        }
                    }
                });
                v.retrieveGigs();

            })(jQuery);

        </script>

    </body>

</html>
